
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: #000000;
}

main {
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  display: none;
}

.site {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
}

.dimensions {
  width: 1200px;
  margin: 0px auto;
  padding: 0px;
}

.main-header {
  margin-bottom: 60px;
}

.main-header-catalog {
  margin-bottom: 0px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 55px;
  justify-content: space-between;
  padding: 0px 70px;
}

.main-header-logo {
  position: relative;
  min-width: 140px;
  max-height: 75px;
  z-index: 1000;
}

.logo-link{
  position: absolute;
}

.column-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0px;
  padding: 1px 2px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  min-height: 55px;
}

.column-nav:before {
  content: "";
  display: inline-block;
  min-height: 55px;
  visibility: hidden;
}

.column-nav-left {
  text-align: left;
  justify-content: flex-start;
}

.column-nav-right {
  text-align: right;
  justify-content: flex-end;
}

.nav-item {
  min-width: 128px;
  list-style: none;
}

.column-nav-left .nav-item:first-child {
  margin-right: 112px;
}

.column-nav-right .nav-item:last-child {
  margin-left: 113px;
}

.column-nav {
  font-weight: bold;
}

.nav-item {
  color: #000000;
}

.nav-item:hover a {
  color: #81b3d2;
}

.nav-item:active a {
  color: #cecece;
}

.nav-item.current a {
  color: #766357;
}

.main-header-add{
  background-image: url("../img/sedona-main-canyon.png");
  background-color: #D5E3EE;
  background-position: top -55px center;
  background-repeat: no-repeat;
  border: none;
}

.intro-welcome{
  background-image: url("../img/white-mask-logo.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  text-align: center;
}

.img-welcome {
  width: 459px;
  height: 353px;
  padding-top: 77px;
  padding-bottom: 72px;
}

.slogan {
  text-align: center;
  margin-bottom: 51px;
}

.slogan h2 {
  font-size: 21px;
  line-height: 26px;
  max-width: 40%;
  margin: 0px auto 27px auto;
}

.slogan p {
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
  font-weight: normal;
}

.reason-item {
  width: 300px;
  padding: 0px 50px;
}

.reason-item h3 {
  font-size: 21px;
  width: 120px;
  margin: 0px auto;
}

.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-image: url("../img/real-life.jpg");
  background-color: #E2D2D1;
  background-position: bottom right;
}

.reasons .reason-item {
  background-color: #81b3d2;
  color: #FFF;
  padding-bottom: 43px;
}

.reasons h3 {
  padding-top: 45px;
  padding-bottom: 6px;
}

.second-reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 63px;
}

.logo-rsn {
  padding-top: 58px;
  margin-bottom: 20px;
}

.present {
  padding-top: 56px;
  margin-bottom: 21px;
}

.second-reasons h3 {
  margin-bottom: 20px;
}

.bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  background-image: url("../img/devils-bridge.png");
  background-color: #EEB69F;
  background-position: bottom left;
}

.bridge .reason-item {
  width: 320px;
  padding: 45px 40px 42px 40px;
  background-color: #81b3d2;
  color: white;
}

.bridge h3 {
  width: 155px;
  margin-bottom: 16px;
}

.bridge .number {
  margin-bottom: 18px;
}

.second-block-reasons .reason-item {
  width: 250px;
  padding: 47px 75px 42px 75px;
}

.second-block-reasons .reason-item:nth-child(2) {
  padding: 47px 35px 42px 35px;
}

.second-block-reasons .number {
  padding-top: 2px;
  margin-bottom: 19px;
}

.second-block-reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: #eee;
}

.interested-in {
  padding-top: 24px;
}

.interested-in>h2 {
  text-align: center;
}

.interested-in>p {
  width: 490px;
  margin: 0px auto 43px auto;
  text-align: center;
}

.interested-in h2 {
  font-size: 30px;
  line-height: 36px;
}

.interested-in p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.interested-in .searching {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  display: inline-block;
  vertical-align: middle;
  border:none;
}

.search-info {
  font-size: 14px;
  line-height: 26px;
  font-weight: 900;
  display: none;
}

.search-info-show {
  display: block;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2
}

.social-networks ul {
  list-style: none;
}

.visitsedona .copyright {
  font-size: 21px;
  line-height: 26px;
}

.searching:hover {
  background-color: #604e43
}

.searching:active {
  background-color: #503e33;
  color: #928a85
}

.search-info input[type=text] {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgb(242, 242, 242);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.search-info input[type=text]:hover {
  background-color: #ebebeb
}

.search-info input[type=text]:focus {
  background-color: #ffffff
}

.input {
  margin: 0px;
  border: none;
  color: #a9a9a9
}

.input:hover {
  color: #000000
}

.input:active {
  color: #81b3d2
}

.fill-in-data {
  position: relative;
  display: inline-block;
  height: 36px;
}

.fill-in-data input {
  padding: 0px 15px;
  line-height: 36px;
  height: 36px;
  width: 315px;
}

.fill-in-data a {
  border: none;
  border-width: 0px;
}

.fill-in-data .calendar {
  position: absolute;
  top: 7px;
  right: 8px;
}

.numbers-of {
  padding: 0px;
  display: inline-block;
}

.numbers-of input,
.numbers-of button {
  padding: 0px 14px;
  height: 36px;
  border: none;
  border-width: 0px;
  background-color: #f2f2f2;
}

.numbers-of input {
  width: 10px;
}

.form-card .people {
  margin-top: 33px;
  margin-bottom: 55px;
}

.search-button {
  padding: 16px;
  background-color: #81b3d2;
  color: #ffffff;
}

.search-button:hover {
  background-color: #669ec0
}

.search-button:active {
  background-color: #5496bd
}

/** CSS catalog **/

.more-info {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 5px 17px;
}

.more-info:hover {
  background-color: #669ec0;
  color: #ffffff
}

.more-info:active {
  background-color: #5496bd;
  color: #ffffff
}

.booking {
  background-color: #766357;
  color: #ffffff;
  padding: 5px 17px;
}

.booking:hover {
  background-color: #604e43;
  color: #ffffff
}

.booking:active {
  background-color: #503e33;
  color: #928a85
}

.hotel-info {
  margin-left: 30px;
  flex-grow: 1;
}

.hotel-title {
  font-size: 21px;
  line-height: 18px;
  margin-top: 0px;
  margin-bottom: 4px;
  color: #000000;
}

.hotel-title:hover {
  color: #81b3d2
}

.hotel-title:active {
  color: #cacaca
}


.second-block-reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: #eee;
}

.search-wrapper {
  position: relative;
  width: 566px;
  margin: 0px auto;
}

.searching {
  width: 100%;
  text-align: center;
  padding: 30px 0px;
}

.search-wrapper .search-info {
  position: absolute;
  top: 86px;
  left: 0px;
  background-color: #FFF;
  padding: 57px 55px 55px 55px;
  width: 456px;
}


.form-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.search-button {
  width: 100%;
  border: 0px;
}

.map {
  height: 473px;
  background-color: #E5E3DF;
}

.map iframe {
  height: 100%;
  width: 100%;
  border:0;
}

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.hotels-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 70px 25px 72px;
  border-bottom: 1px solid #E5E5E5;
}

.preview {
  margin-top: 1px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 119px;
  padding-left: 132px;
  padding-right: 100px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  align-items: center;
  margin-left: 27px;
}

.social-item img {
  width: 22px;
  height: 22px;
  padding: 13px;
  margin: 0px 2px;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
}

.social-item:hover img {
  background-color: #669ec0
}

.social-item:active img {
  background-color: #5496bd
}

.social-link {
  display: inline-block;
  vertical-align: middle;
}

.footer-logo {
  font-weight: 700;
  font-size: 21px;
  text-align: center;
}

.copyright {
  font-weight: 500;
}

.logo-htmlacademy {
  vertical-align: middle;
  background: url("../img/logo-htmlacademy.svg");
  display: inline-block;
  width: 115px;
  height: 41px;
  margin-left: 3px;
}

.logo-htmlacademy:hover {
  background: url("../img/blue-logo.png");
}

.logo-htmlacademy:active {
  background: url("../img/grey-logo.png");
}

.searching-form-hotels {
  background-image: url("../img/filter-background.jpg");
  background-color: #6A86A1;
  background-position: top -55px center;
  color: #ffffff;
}

.price-range {
  width: 318px;
  margin: 28px 70px 33px auto;
  color: #ffffff;
  text-transform: uppercase;
}

.price-for-day {
  margin-top: 1px;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.add-filters-list,
.hotels-filters-list {
  margin: 0px;
  padding: 0px;
}

.add-filters-list li,
.hotels-filters-list li {
  list-style: none;
}

.add-filters-list label,
.hotels-filters-list label {
  cursor: pointer;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 62px;
}

.price-controls .max-price {
  padding-left: 58px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: transparent;
  border: none;
}

.range-scale {
  position: relative;
  margin-bottom: 32px;
}

.range-scale .scale-of-price {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-scale .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.bar-button {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.bar-button:hover {
  background: #1c4f80;
}

.bar-button-min-min {
  left: 0;
}

.bar-button-max {
  left: 80%;
}

.show-button {
  display: block;
  margin: 0 82px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.show-button:hover {
  color: #000000;
  background: #ffffff;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.filter fieldset {
  border: none;
  margin-top: 26px;
  margin-left: 60px;
  width: 172px;
}

legend {
  font-size: 17px;
}

.add-filters-list,
.hotels-filters-list {
  margin: 17px 0px 0px 0px;
  padding: 0px;
}

.add-filters-list li,
.hotels-filters-list li {
  margin-bottom: 22px;
  font-size: 14px;
}

.results-of-searching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 29px 70px 29px 70px;
  border: 1px solid #EEE;
}

.results {
  margin: 0px;
  margin-right: 20px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sorting {
  padding: 0px;
  margin: 0px;
  margin-top: 2px;
  margin-left: 30px;
  font-size: 12px;
  font-weight: normal;
  line-height: 21px;
  margin-right: 40px;
}

.criteria-list {
  flex-grow: 1;
  padding: 0px;
  margin: 0px;
}

.criteria-list li {
  display: inline-block;
  list-style: none;
  margin-top: 3px;
  margin-right: 28px;
}

.criteria-item{
  margin-top: 2px;
  font-size: 12px;
}

.sort-down {
  margin-left: 10px;
}

.class-of-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.star-list {
  margin: 0px;
  padding: 0px;
  text-align: right;
}

.star-list .star-item {
  list-style: none;
  display: inline-block;
  margin-left: 3px;
}

.rating-score {
  line-height: 10px;
  text-align: center;
  background-color: #F2F2F2;
  margin: 0px;
  margin-bottom: 5px;
  padding: 10px 15px;
}

.hotel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.reservation {
  margin-left: 5px;
}

.price-from,
.type-of-hotel {
  margin: 7px 0px 15px 0px;
}

.criteria-link {
  color: #CACACA;
  border-bottom: 1px dotted #81B3D2;
}

.criteria-link:hover {
  color: #81B3D2;
  border-bottom: 1px dotted #81B3D2;
}

.criteria-link:active {
  color: #000000;
  border-bottom-width: 0px;
}

.current .criteria-link {
  color: #81B3D2;
  border-bottom-width: 0px;
}

.filter-checkbox {
  display: none;
}

.filter-checkbox+label:before {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: top left;
  display: inline-block;
  width: 27px;
  height: 23px;
  content: "";
  color: transparent;
  margin: -2px 14px 0 0;
  vertical-align: middle;
}

.filter-checkbox:checked+label:before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-checkbox:checked+label:before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-checkbox:disabled+label:before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-checkbox:checked:disabled+label:before {
  background-image: url("../img/checkbox-off.svg");
}

.sort-up:hover img,
.sort-up.current:hover img {
  content: url("../img/arrow-up.png");
}

.sort-up:active img,
.sort-up.current:active img {
  content: url("../img/arrow-blue-up.png");
}

.sort-up.current img {
  content: url("../img/arrow-blue-up.png");
}

.sort-down:hover img,
.sort-down.current:hover img {
  content: url("../img/arrow-down.png");
}

.sort-down:active img,
.sort-down.current:active img {
  content: url("../img/arrow-down-blue.png");
}

.sort-down.current img {
  content: url("../img/arrow-down-blue.png");
}


