html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #fefefe;
}

.dimensions {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: #fff; /** нужен ли**/
  -webkit-box-shadow: 0 0 10px 10px rgba(225,225,225,0.5);
  box-shadow: 0 0 10px 10px rgba(225,225,225,0.5);
}


.main-navigation {
  position: relative;
  z-index: 10;
}

a {
  text-decoration: none;
}

.main-header-logo {
  width: 140px;
  height: 71px;
  position: absolute;
  margin: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 75px;
  padding-right: 75px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(2) {
  padding-left: 30px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  text-align: right;
  padding-right: 30px;
}

.site-navigation li:nth-child(3n) {
  margin-left: auto;
}

.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #a3c7de;
}

.site-navigation a:active {
  color: #f5f5f5;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.intro-text {
  background-image: url("../img/sedona-main-canyon.png");
  background-color: #88b7d5;
  height: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  background-position-y:-53px;
}

.intro-text::after {
  content: '';
  position: absolute;
  left:0;
  right:0;
  bottom: 0;
  height: 57px;
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-background-size: 1200px 1200px;
  background-size: 1200px;
  background-image: url("../img/white-mask.png");
}

.intro-text img {
  display: block;
}

.slogan {
  padding-top: 60px;
  padding-bottom: 47px;
}

.slogan h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: 28px;
  letter-spacing: 0.2px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.slogan p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #333333;
  margin: 0;
}

.reasons-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.special-reason {
  text-align: center;
  background-color: #eeeeee;
  width: 400px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 65px;
  padding-left: 40px;
  padding-right: 40px;
}

.special-reason h3 {
  margin: 0;
  margin-bottom: 20px;
  max-width: 151px;
  margin-left: auto;
  margin-right: auto;
}

.special-reason p {
  margin: 0;
  max-width: 265px;
  margin-left: auto;
  margin-right: auto;
}

.real-life-reason-background {
  width: 800px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/real-life.jpg");
  background-color: #ecbaaf;
}

.devils-bridge-reason-background {
  width: 800px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/devils-bridge.png");
  background-color: #c47359;
}

.reasons-with-logo {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  color: #000000;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.reason-with-logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 400px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 168px;
  padding-bottom: 80px;
  position: relative;
}

.reason-with-logo h3 {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 21px;
  line-height: 14px;
}

.reason-with-logo p {
  margin: 0;
  letter-spacing: 0.1px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.reason-with-logo::after {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  left:50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top:63px;
}

.house::after {
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
}

.burger::after {
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
}

.gift::after {
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
  top:55px;
}

.reason h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.reason p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
}

.number-white {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  margin-bottom: 20px;
}

.with-img {
  background-color: #81b3d2;
}

.with-img h3 {
  color: #ffffff;
}

.with-img .number-white {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
}

.with-img p {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
}

.interested-in {
  position: relative;
  padding-top: 50px;
}

.interested-in h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin-top: 0;
  margin-bottom: 25px;
}

.interested-in p {
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 45px;
}

.hotel-searching-form {
  width: 570px;
  position: absolute;
  margin: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 55px 52px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
  display: none;
}

.hotel-searching-form-open {
  display: block;
  -webkit-animation: op 0.2s;
  animation: op 0.2s;
}

.hotel-searching-form-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

@-webkit-keyframes op {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes op {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-286px);
    transform: translateX(-286px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-276px);
    transform: translateX(-276px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-296px);
    transform: translateX(-296px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-286px);
    transform: translateX(-286px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-276px);
    transform: translateX(-276px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-296px);
    transform: translateX(-296px);
  }
}

.searching-form-promo {
  font-size: 21px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.searching-form-promo a {
  background-color: #766357;
  color: #ffffff;
  display: inline-block;
  padding: 30px 140px;
  vertical-align: middle;
}

.searching-form-promo a:hover {
  background-color: #604e43;
}

.searching-form-promo a:active {
  background-color: #503e33;
  color:rgba(255, 255, 255, 0.3);
}

.arrival-date {
  font-size: 14px;
  font-style: normal;
  line-height: 26px;
  text-align: left;
}

.hotel-searching-arrival {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 32px;
  min-width: 100%
}

.hotel-searching-arrival input {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  border:0;
  height: 35px;
  padding-left: 15px;
  width: 346px;
}

.hotel-searching-arrival input:hover {
  background-color: #ebebeb;
}

.hotel-searching-arrival input:focus {
  background-color:#ffffff;
  outline: 1px #e5e5e5 solid;
}

.hotel-searching-arrival label {
  margin-right: 24px;
  letter-spacing: 0.1px;
  max-width: 95px;
}


.hotel-searching-departure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 32px;
  min-width: 100%
}

.hotel-searching-departure input {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  border: 0;
  height: 35px;
  width: 346px;
  padding-left: 15px;
}

.hotel-searching-departure input:hover {
  background-color: #ebebeb;
}

.hotel-searching-departure input:focus {
  background-color:#ffffff;
  outline: 1px #e5e5e5 solid;
}

.hotel-searching-departure label {
  margin-right: 22px;
  max-width: 95px;
}

.hotel-searching-adults input {
  margin: 0;
  font-weight: bold;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 0;
  background-color: #f2f2f2;
}

.adults-amount {
  margin-right: 47px;
}


.kids-amount,
.adults-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.adults-amount label {
  margin-right: 40px;
  max-width: 72px;
}


.kids-amount label {
  margin-right: 26px;
  max-width: 40px;
}

button.amount-button {
  padding: 0;
  margin: 0;
}

.amount-button{
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border: 0;
  color: #a9a9a9;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 25px;
  font-weight: bold;
  vertical-align: middle;
}

.amount-button span {
  position: relative;
  left: 0;
  top: 0;
}

.amount-button:hover {
  color: #000000;
}

.amount-button:active {
  color: #81b3d2;
}

.calendar-arrival {
  border: 0;
  background-repeat: no-repeat;
  position: absolute;
  width: 22px;
  height: 22px;
  right: 66px;
  top: 62px;
  background-color: #f2f2f2;
}

.calendar-arrival svg {
  position: absolute;
  top: 0;
  right: 0;
}

.calendar-departure {
  border: 0;
  background-repeat: no-repeat;
  position: absolute;
  width: 22px;
  height: 22px;
  right: 66px;
  top: 129px;
  background-color: #f2f2f2;
}

.calendar-departure svg {
  position: absolute;
  top: 0;
  right: 0;
}

.calendar-arrival:hover,
.calendar-departure:hover path{
  fill: #000000;
}

.calendar-arrival:active,
.calendar-departure:active path{
  fill: #98c1da;
}

.button {
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  padding: 16px 0;
  width: 100%;
  background-color: #81b3d2;
  border: 0;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  height: 595px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url("../img/map.png");
  background-color: #c5deb7;
  position: relative;
  z-index: 0;}

/**
.main-footer {
  color: #000000;
  background-color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: static;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 35px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.footer-add{
  position: absolute;
  opacity: 0.9;
  bottom:0;
  padding-top: 36px;
  padding-bottom: 46px;
}

.main-footer-hashtag {
  font-size: 21px;
  font-style: normal;
  line-height: 26px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 400px;
}

.social-button img {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-links {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 400px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.social-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-links li {
  margin: 0;
  padding: 0;
  margin-right: 6px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 45px;
  height: 47px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active path {
  fill: #88b6d1;


.social-button:active {
  background-color: #5496bd;
}



.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 400px;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.footer-copyright b {
  margin-right: 9px;
  font-size: 13px;
  font-weight: normal;
  line-height: 26px;
}

.footer-copyright a {
  width: 114px;
  height: 41px;
}


.footer-copyright:active path {
  fill: #bdbbbc;
}
**/

//**
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 119px;
  padding-left: 132px;
  padding-right: 100px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  align-items: center;
  margin-left: 27px;
}

.social-button img {
  width: 22px;
  height: 22px;
  padding: 13px;
  margin: 0px 2px;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
}

.social-button:hover img {
  background-color: #669ec0
}

.social-button:active img {
  background-color: #5496bd
}

.link {
  display: inline-block;
  vertical-align: middle;
}

.main-footer-hashtag {
  font-weight: 700;
  font-size: 21px;
  text-align: center;
}

.footer-copyrightcopyright {
  font-weight: 500;
}

.logo-html {
  vertical-align: middle;
  background: url("../img/logo-htmlacademy.svg");
  display: inline-block;
  width: 115px;
  height: 41px;
  margin-left: 3px;
}

.logo-html:hover {
  background: url("../img/blue-logo.png.png");
}

.logo-html:active {
  background: url("../img/grey-logo.png.png");
}

/** CSS catalog (отели) **/

.searching-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 29px 70px 29px 70px;
  border: 1px solid #EEE;
}

.founded {
  margin: 0px;
  margin-right: 20px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sort-by {
  padding: 0px;
  margin: 0px;
  margin-top: 2px;
  margin-left: 30px;
  font-size: 12px;
  font-weight: normal;
  line-height: 21px;
  margin-right: 40px;
}

.hotels-sorting {
  flex-grow: 1;
  padding: 0px;
  margin: 0px;
}

.hotels-sorting li {
  list-style: none;
  display: inline-block;
  margin-top: 3px;
  margin-right: 28px;
}

.sorting-by {
  margin-top: 2px;
  font-size: 12px;
}

.arrow-down {
  margin-left: 10px;
}

.hotel-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
  padding: 29px 70px 25px 72px;
}

.hotel-photo {
  margin-top: 1px;
}

.hotel-description{
  margin-left: 30px;
  flex-grow: 1;
}

.hotel-name{
  font-size: 21px;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 5px;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2
}

.hotel-name:active {
  color: #cacaca
}

.brief-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.from,
.type-info p {
  margin: 7px 0px 15px 0px;
}

.more-info {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 5px 17px;
}

.more-info:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.more-info:active {
  color: #ffffff;
  background-color: #5496bd;
}

.price-book {
  margin-left: 5px;
}

.button-brown {
  padding: 5px 17px;
  color: #ffffff;
  background-color: #766357;
}

.button-brown:hover {
  color: #ffffff;
  background-color: #604e43;
}

.button-brown:active {
  color: #928a85;
  background-color: #503e33;
}

.rating-stars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars {
  list-style: none;
  margin: 0px;
  margin-left: 4px;
  padding: 0px;
  text-align: right;
  display: inline-block;
}

.star-icon {
  list-style: none;
  margin-left: 4px;
  display: inline-block;
}

.rating {
  background-color: #F2F2F2;
  margin: 0px;
  margin-bottom: 5px;
  padding: 10px 15px;
  line-height: 10px;
  text-align: center;
}
