body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 1200px;
  min-height: 2762px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1200px;
  min-height: 55px;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  vertical-align: middle;
}

.site-navigation {
  margin: 0;
  list-style: none;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 75px;
  font-weight: bold;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation a:active {
  color: #000000;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #81b3d2;
}

.main-header-logo {
  width: 140px;
  height: 71px;
  display: block;
  position: absolute;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}

.sedona-main-canyon {
  background-image: url(../img/sedona-main-canyon.png);
  background-color: #88b7d5;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  background-color: #ffffff;
  text-align: center;
  padding: 60px 0 50px;
  margin: 0 auto;
  min-height: 216px;
}

.slogan h2 {
  font-size: 21px;
  font-weight: bold;
}

.slogan p {
}

.main-navigation ul {
  list-style: none;
}

.reasons ul {
  list-style: none;
}

.real-life-reason {

  display: flex;
  flex-direction: row;
  text-align: center;
  background-image: url("../img/real-life.jpg");
  background-color: #E2D2D1;
  background-position: bottom right;
}

.reason-description {
  background-color: #81b3d2;
  color: #FFF;
  width: 310px;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 48px;
  padding-right: 48px;
}

.devils-bridge-reason {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  background-image: url("../img/devils-bridge.png");
  background-color: #EEB69F;
  background-position: bottom left;
}

.main-reasons {
  display: flex;
}

.reason-with-logo {
  width: 300px;
  padding: 160px 50px;
  text-align: center;
}

.reason-with-logo h3 {
  font-size: 21px;
  width: 120px;
  margin: 0px auto;
}

.interested-in p {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.interested-in h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font: inherit;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.more-reasons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.add-reason {
  text-align: center;
  margin-bottom: 62px;
  padding-top: 45px;
  padding-bottom: 50px;
  padding-left: 59px;
  padding-right: 61px;
  background-color: #eeeeee;
}

.button:hover {
  background-color: #669ec0;
}

.sedona-hotel-search {
  background-color: #766357;
  font-size: 21px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.sedona-hotel-search:hover {
  background-color: #604e43;
}

.sedona-hotel-search:active {
  color: #928a85;
  background-color: #503e33;
}

.hotel-searching-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-description p {
  font-size: 14px;
  color: #333333;
}

.rating-stars ul{
  list-style: none;
}

.button-brown {
  background-color: #766357;
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  color: #8f8681;
  background-color: #503e33;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding-left: 120px;
  padding-right: 80px;
}

.main-footer ul {
  list-style: none;
}

.social-links {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  align-items: center;
  margin-left: 22px;
}

.social-links img {
  width: 22px;
  height: 22px;
  padding: 13px;
  margin: 0px 2px;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
}

.social-links li:hover img {
  background-color: #669ec0
}

.social-link li:active img {
  background-color: #5496bd
}

.social-button {
  display: inline-block;
  vertical-align: middle;
}

.main-footer-hashtag {
  font-weight: 700;
  font-size: 21px;
  text-align: center;
}

.footer-copyright b {
  font-weight: 500;
}
.logo-html {
  vertical-align: middle;
  background: url("../img/logo-html-main.png");
  display: inline-block;
  width: 115px;
  height: 41px;
  margin-left: 4px;
}


.logo-html:hover {
  background: url("../img/blue-logo.png");

}

.logo-html:active {
  background: url("../img/grey-logo.png");
}

/** CSS catalog (отели) **/

.searching-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 29px 70px 29px 70px;
  border: 1px solid #EEE;
}

.founded {
  margin: 0px;
  margin-right: 20px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sort-by {
  padding: 0px;
  margin: 0px;
  margin-top: 2px;
  margin-left: 30px;
  font-size: 12px;
  font-weight: normal;
  line-height: 21px;
  margin-right: 40px;
}

.hotels-sorting {
  flex-grow: 1;
  padding: 0px;
  margin: 0px;
}

.hotels-sorting li {
  list-style: none;
  display: inline-block;
  margin-top: 3px;
  margin-right: 28px;
}

.sorting-by {
  margin-top: 2px;
  font-size: 12px;
}

.arrow-down {
  margin-left: 10px;
}

.hotel-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
  padding: 29px 70px 25px 72px;
}

.hotel-photo {
  margin-top: 1px;
}

.hotel-description{
  margin-left: 30px;
  flex-grow: 1;
}

.hotel-name{
  font-size: 21px;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 5px;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2
}

.hotel-name:active {
  color: #cacaca
}

.brief-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.from,
.type-info p {
  margin: 7px 0px 15px 0px;
}

.more-info {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 5px 17px;
}

.more-info:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.more-info:active {
  color: #ffffff;
  background-color: #5496bd;
}

.price-book {
  margin-left: 5px;
}

.button-brown {
  padding: 5px 17px;
  color: #ffffff;
  background-color: #766357;
}

.button-brown:hover {
  color: #ffffff;
  background-color: #604e43;
}

.button-brown:active {
  color: #928a85;
  background-color: #503e33;
}

.rating-stars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars {
  list-style: none;
  margin: 0px;
  margin-left: 4px;
  padding: 0px;
  text-align: right;
  display: inline-block;
}

.star-icon {
  list-style: none;
  margin-left: 4px;
  display: inline-block;
}

.rating {
  background-color: #F2F2F2;
  margin: 0px;
  margin-bottom: 5px;
  padding: 10px 15px;
  line-height: 10px;
  text-align: center;
}
